
.container{
    position: relative;
  }

.sezioneuno{
  width: 100%;
  position: relative;
  }

.sezionedue{
  width: 100%;
  position: relative;
  bottom:0;
  }

.box{
  display: inline-block;
  position: relative;
  }

.trentapercento{
  background: green;
  z-index: 2;
  position: absolute;
  top 0;
  right: 0;
  }

.cinquepercento{
  background: red;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

.img{
  position: relative;
  top: 0;
}
